.projects-container {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: Lato;
    padding: 1rem;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--secondary-color);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container > h2 {
    font-size: 3rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: 0 2rem;
    background: url("../../assets/moon.jpg");
    background-size: cover;
    text-align: center;
}

.project-image {
    width: 50rem;
    height: auto;
    border-radius: 5px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.project-name {
    font-size: 2.5rem;
}

.project-description {
    color: var(--secondary-text);
    font-size: 1.25rem;
}

.project-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.skill:hover {
    color: var(--secondary-color);
}

.project-skill > i,
.project-skill > p {
    cursor: pointer;
}

.project-button-container {
    display: flex;
    justify-content: space-evenly;
}

.project-button {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.05s ease-in-out;
}

.project-button:hover {
    background-color: var(--secondary-color-hover);
    color: var(--white);
}

@media (max-width: 950px) {
    .project {
        flex-wrap: wrap;
    }
    .project-name {
        text-align: center;
    }

    .project-description {
        text-align: justify;
    }

    .project-image {
        width: 20rem;
    }
}
