.projects-container {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: Lato;
    padding: 1rem;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--secondary-color);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-title {
    font-size: 3rem;
    border-bottom: 5px solid var(--secondary-color);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.project {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: 0 2rem;
    background: url("../../assets/project-background-photo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
}

.project-image {
    width: 75%;
    height: auto;
    border-radius: 5px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.project-name {
    font-size: 2.5rem;
}

.project-description {
    color: var(--secondary-text);
    font-size: 1.25rem;
}

.project-icons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-button-container {
    display: flex;
    justify-content: space-evenly;
}

.project-button {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.05s ease-in-out;
}

.carousel-buttons-container {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carousel-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.project-button:hover,
.carousel-button:hover {
    background-color: var(--secondary-color-hover);
    color: var(--white);
}

@media (max-width: 1024px) {
    .project-description {
        text-align: justify;
    }
}

@media (max-width: 850px) {
    .projects-title {
        font-size: 2rem;
    }
    .project-name {
        font-size: 1.5rem;
    }

    .project-description {
        color: var(--secondary-text);
        font-size: 1rem;
    }
    .project {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .projects-title {
        font-size: 1.5rem;
        border-bottom: 3px solid var(--secondary-color);
    }
    .project {
        width: 75%;
    }

    .project-name {
        font-size: 1.3rem;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-image {
        width: 90%;
    }

    /*--------------------------*/

    .carousel-button {
        width: 2rem;
        height: 1.5rem;
    }

    .project-button-container {
        display: flex;
        justify-content: space-evenly;
    }


}

@media (max-width: 375px) {
    .project {
        flex-wrap: wrap;
        width: 13rem;
    }
    .project-image {
        width: 10rem;
    }

    .project-name {
        font-size: 1.3rem;
    }

    .project-description {
        font-size: 1rem;
        text-align: justify;
    }
}
