.hero {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: Lato;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--secondary-color);
    gap: 1rem;
    padding: 1rem;
    height: 70vh;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-who-i-am {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.my-name {
    color: var(--secondary-color);
    font-size: 7rem;
}

.what-i-do {
    font-size: 3rem;
}

.statement {
    font-size: 2rem;
    color: var(--secondary-text);
}

.hero-photo {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--secondary-color);
}

.contact-button-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 1rem;
}
.contact-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5rem;
    height: 5rem;

}

a {
    text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--secondary-color);
}

.contact-icons-container {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1300px) {
    .my-name {
        font-size: 4rem;
    }

    .what-i-do {
        font-size: 3rem;
    }

    .statement {
        font-size: 1.5rem;
    }
}

@media (max-width: 850px) {
    .hero {
        grid-template-columns: 1fr;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .hero {
        padding: 1rem 0.5rem;
    }
    .hero-photo {
        width: 13rem;
        height: 13rem;
    }
    .my-name {
        font-size: 2.5rem;
    }

    .what-i-do {
        font-size: 2rem;
    }

    .statement {
        font-size: 1rem;
    }
}
