.nav-bar {
    background-color: var(--header-background);
    color: var(--white);
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.nav-bar-lists {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-lists:hover,
.home:hover,
.fa-globe:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.home {
    font-size: 2rem;
}

.link-container {
    display: flex;
    gap: 1rem;
}

@media (max-width: 850px) {
    .nav-bar {
        justify-content: space-between;
    }
    .nav-bar-lists {
        display: none;
    }
    .swipeLanguageFlag {
        display: block;
    }
}
