.nav-bar {
    background-color: var(--header-background);
    color: var(--white);
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.nav-bar-lists {
    list-style: none;
}

.nav-bar-lists:hover,
.home:hover,
.fa-globe:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.home {
    font-size: 2rem;
}

.link-container {
    display: flex;
    gap: 1rem;
}

@media (max-width: 850px) {
    .nav-bar {
        justify-content: space-between;
    }
    .fa-bars {
        margin-right: 0.5rem;
    }
}

@media (min-width: 2000px) {
    .nav-bar,
    .home {
        font-size: 3rem;
    }
    .link-container {
        gap: 1.5rem;
    }
}

@media (min-width: 3000px) {
    .nav-bar,
    .home {
        font-size: 4rem;
    }
    .link-container {
        gap: 2rem;
    }
}