* {
    margin: 0;
    padding: 0;
}

:root {
    --header-background: #141414;
    --primary-color: #252525;
    --white: #fbfbfb;
    --secondary-color: #d3bdff;
    --secondary-color-hover: #8243ff;
}
